{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="features">
        <h1>Солнечная система</h1>
        <p>Солнечная система — планетная система, включает в себя центральную звезду — Солнце — и все естественные космические объекты, вращающиеся вокруг Солнца. Она сформировалась путём гравитационного сжатия газопылевого облака примерно 4,57 млрд лет назад.</p>
    </div>
{% endblock %}

{% block bgImg %}
    <img src="{% static 'main/img/bg2.png' %}" alt="фОН">
{% endblock %}

{% block title %}
    <title>Главнаыыыйя страница</title>
{% endblock %}